body {
    margin: 0;
    height: 2000px;
}

section {
    height: 800px;
    background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg) fixed;
}

.img1 {
    position: absolute;
    top: 100px;
    right: 200px;
}

h1 {
    font-size: 6em;
    width: 258px;
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 80px;
    left: 400px;
    animation: slide 1s ease-out;
}

@keyframes slide {
    from {
        left: -100px;
        opacity: 0;
    }

    to {
        left: 400px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        left: 400px;
        opacity: 1;
    }

    to {
        left: -100px;
        opacity: 0;
    }
}