@charset "UTF-8";

@import url("variables.css");

body {
    background-color: white;
}

.flex {
    display: flex;
}

.create-project__header {
    width: 100%;
    margin: auto;
}

.my_button {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.btn_font_color-gray {
    color: rgb(61, 61, 61);
    opacity: 0.5;
}

.btn_font_color-red {
    color: white;
    background-color: var(--red);
    border: 1px solid var(--red);
}

.outer_frm {
    width: 100%;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 첫번째 */
.top {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    background-color: white;
    z-index: 100;
}

.top>.top--inner {
    z-index: 100;
    height: 64px;
    padding: 0px;
    width: 1080px;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.icon-arrow_box>svg {
    width: 1em;
    height: 1em;
}

.top_buttons {
    height: 60%;
}

.top_buttons>button {
    height: 100%;
    margin-right: 12px;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_buttons>button:nth-child(1) {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.icon-eye {
    width: 14px;
    height: 14px;
    margin-right: 9px;
}

.top_buttons>button:nth-child(2) {
    width: 120px;
}

/* 두번째 */
.outer_frm>div:nth-child(2) {
    margin: 64px auto 0px;
}

.create_project-title {
    font-weight: 700;
    padding: 39px 0px 21px;
    font-size: 32px !important;
    line-height: 44px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue",
        Arial, sans-serif !important;
    z-index: 20;
    background-color: white;
    width: 1080px;
}



/* 세번째 */
.outer_frm>div:nth-child(3) {
    background-color: white;
}

.tab-menu--box {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
    z-index: 20;
}

.tab-menu {
    background-color: white;
    width: 1080px;
    margin: auto;
    padding: 0px;
    height: 40px;
    display: flex;
    z-index: 20;
    position: relative;
    word-break: keep-all;
    font-size: 18px;
}

/* 마우스 올라갔을 때 */
.tab-menu a:hover {
    font-weight: bolder;
}

/* .tab-menu>ul {
    display: flex;
    padding: 0px;
    align-items: center;
    margin: 0;
}

.tab-menu li {
    margin: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.tab-menu-nav{
    margin-top:40px;
}
/* 탭 메뉴 a */
nav div a {
    color: #848484;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue",
        Arial, sans-serif !important;
    text-decoration: none;
    margin-right: 2em;
    text-align: left;
    height: 30px;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    letter-spacing: -0.02em;
    text-decoration: none;
}

/* 탭 메뉴 class='on'을 가지고 있는 a */
nav div a.on{
    color:#000000;
    font-weight:700;
}

/* 메뉴 밑줄 span에 걸린 css 투명도 0 */
nav div > span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 54px;
    height: 2px;
    background: rgb(255, 87, 87);
    opacity: 0;
    transition: all .5s;
}

/* span에 on되면 투명도를 1로 바꿔줌 */
nav div a:nth-child(1).on ~ span { opacity: 1;}
nav div a:nth-child(2).on ~ span { opacity: 1;}
nav div a:nth-child(3).on ~ span { opacity: 1;}
nav div a:nth-child(4).on ~ span { opacity: 1;}

/* .tab-menu li.cur-page>a {
    color: rgb(13, 13, 13);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue",
        Arial, sans-serif !important;
    font-weight: 700 !important;
}
li.cur-page {
    z-index: 20;
    border-bottom: 3px solid rgb(248, 100, 83);
} */

main {
    margin-top: 76px;
}

.wrap {
    display: flex;
    flex-direction: column;
}
